@import ./paths
@import ./cse

%note
  font-size: 10px
  font-weight: bold

%note-margin
  margin: 3px 10px 5px

.crw-global-error
  @extend %note
  color: red

.crw-wrapper
  position: relative
  -webkit-hyphens: none
  -ms-hyphens: none
  -moz-hyphens: none
  hyphens: none
  counter-reset: instruct

  > :not(.crw-immediate)
    margin: 10px 10px 0

  .cse, .cse ul
    border-radius: 2px

  .error
    @extend .crw-global-error
    @extend %note-margin

  .copyright
    @extend %note
    @extend %note-margin
    clear: left
    float: none

    &.ng-hide
      display: block !important
      visibility: hidden

  p.name
    font-style: italic
    font-weight: bold
    clear: both

  label
    display: inline

    &.crw-instruction
      display: block

  .crw-instruction
    margin-bottom: 5px

    &:before
      content: counter(instruct, disc)
      margin-right: 0.5em
      counter-increment: instruct

  textarea
    width: 90%
    height: 6em

  p.crw-description em
    margin-right: 0.5em

  dl.crw-level
    > dt, > dd
      font-weight: normal
      margin-left: 0
      padding-left: 0

    > dt > dl
      vertical-align: bottom

    .cse.select
      line-height: 1.3

      dt div
        padding: 2px

    > dd
      font-size: 0.85em

  dl.cse.menu dt
    width: 200px

  dl.cse.name dt
    width: 300px

  %plain
    background-color: transparent
    border: none
    outline: none
    transition: none
    box-shadow: none

  .crw-marker
      &.aqua
        stroke: #00bbbb
      &.black
        stroke: #000000
      &.blue
        stroke: #0000dd
      &.green
        stroke: #00bb00
      &.grey
        stroke: #888888
      &.orange
        stroke: #ff8800
      &.red
        stroke: #dd0000
      &.violet
        stroke: #bb00bb

  .crw-control-button
    margin: 0
    padding: 0
    width: 31px
    height: 31px
    vertical-align: middle
    fill: #666

    &, &:hover, &:focus, &:active
      @extend %plain

    &.disabled, &:hover
      fill: #000

  div[crw-timer-element]

    tt
      display: inline-block
      border: 1px solid #666
      border-radius: 2px
      box-sizing: border-box
      width: 5em
      padding: 2px 0
      margin-left: 5px
      text-align: center
      vertical-align: middle

  .invisible
    visibility: hidden

  .crw-crossword
    position: relative
    float: left
    min-width: 320px
    min-height: 160px

    &.wide
      margin: 72px

    > *
      width: 100%

  .crw-spinner
    position: absolute
    opacity: 0.7
    visibility: visible

    text
      text-anchor: middle

  .crw-gridtable
    display: block
    overflow: visible
    z-index: 10
    cursor: default

    .gridhandle
      fill: #666
      pointer-events: all

      &.left
        cursor: w-resize
      &.top
        cursor: n-resize
      &.right
        cursor: e-resize
      &.bottom
        cursor: s-resize

      &:hover
        fill: #000

      &.moving
        z-index: 20

    .gridborder
      stroke: black

    .gridlines
      fill: none
      stroke: black

    .gridlight
      fill: #ddd
      opacity: 0

      &.active
        opacity: 1

    .gridletter
      fill: currentColor
      text-anchor: middle
      font-weight: bold
      font-size: 18px

    .crw-markerline
      stroke-width: 24

    .crw-marker
      stroke-width: 28
      pointer-events: none

  .crw-extras
    margin-top: 10px

  .crw-controls
    display: inline-block
    width: 20em

    &.wide
      width: 30em

  ul.crw-word
    padding-left: 0
    margin-left: 0
    padding-top: 0
    margin-top: 0
    font-size: 14px

    .crw-marker
      width: 17px
      height: 17px
      vertical-align: middle
      margin: 2px 3px

    &.palid li
      color: #888

    > li
      list-style-type: none
      padding: 2px 0
      margin-left: 0

      > *
        vertical-align: middle

      &.found
        color: #000
        font-weight: bold

      &.highlight
        color: #444
        background-color: #ddd

  dl.crw-color
    line-height: 1.2

    dt a
      width: 20px

.crw-immediate
  > .blocker
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1000

  > .message
    position: fixed
    top: 100px
    left: auto
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.9)
    z-index: 1001

    > div
      margin: 10px
      padding: 10px
      border: 1px solid black
      width: 24em

  table, td, p
    margin: 0
    padding: 0
    border: none
    font-size: 100%
    color: #000

  td:first-child
    width: 8em

  .confirm
    @extend %note
    @extend %note-margin
    color: green

  label
    margin-right: 5px

  p.actions
    margin-top: 1em

  input
    &[type="text"], &[type="password"]
      box-shadow: none
      width: 15em
      margin-top: 4px
      vertical-align: baseline

    &.authenticate
      width: 10em

  .confirm
    @extend %note-margin

.crw-editors
  .disabled
    color: #555

  .error
    @extend .crw-global-error
    margin: 0
    padding: 3px 0px 5px

  table.widefat
    width: auto

    th, td, .check-column
      padding: 3px 10px

    .check-column
      text-align: center

  .illustration
    float: right
    margin: 0 20px

  .form-table
    clear: none
    width: auto

.crw-options
  border-spacing: 0

  tr.actions td
    vertical-align: top
    padding-bottom: 4px

  th, td
    max-width: 166px
    padding: 5px 1px

  select
    height: 430px
    width: 160px

  .crosswordname
    max-width: 286px

    select
      width: 280px

  .aligned
    padding-left: 14px

  .project
    max-width: 252px
    padding-right: 20px

    select
      width: 250px

  td.project
    vertical-align: top

  .username
    vertical-align: bottom

    select
      height: 190px

  tr.separate th
    border-top: 1px solid #ccc

  .between
    width: 50px
    max-width: 50px

    select.spin
      width: 46px
      height: auto

  .projectname input
    width: 100%

  button
    width: 36px

    &.text
      width: auto