/* Customizable Select Element, default styling for crosswordsearch */
dl.cse, dl.cse * {
    -moz-box-sizing: content-box;
    border-sizing: content-box;
    vertical-align: middle;
}
.cse dd, .cse dt, .cse ul {
    margin:0px; padding:0px; 
}
dl.cse {
    display: inline-block;
    margin: 0 4px;
    padding:0px;
    cursor: pointer;
}
dl.cse:first-child {
    margin-left: 0;
}
.cse dd, .cse dt, .cse ul, .cse li {
    line-height: inherit;
}
.cse div {
    white-space: nowrap;
}

.cse dd {
    position: relative;
    z-index: 10000;
}
.cse dt {
    background: #fff no-repeat scroll right center;
    background-image: url(../images/arrow-passive.png);
    display: block;
    padding-right: 16px;
    border: 1px solid #666;
    min-width: 20px;
    min-height: 20px;
}
.cse dt:hover {
    background-image: url(../images/arrow-active.png);
    border: 1px solid #000;
}
.cse dt div {
    padding: 0px 2px;
    overflow: hidden;
}
.cse dd ul {
    display: table;
    -moz-box-sizing: border-box;
    border-sizing: border-box;
    background:#fff none repeat scroll 0 0;
    border:1px solid #666;
    color:#000;
    left:0px;
    padding:0px;
    position:absolute;
    top:1px;
    left:0;
    right:0;
    min-width:100%;
    list-style:none;
}
.cse dd li {
    margin: 0;
    padding: 0;
}
.cse dd ul li {
    padding: 0px 2px;
    display:block;
}
.cse dd ul li:hover {
    background-color: Highlight;
}
.cse img {
    border:none;
    box-shadow: none;
    vertical-align: middle;
}
dl.cse dl {
    margin: 0;
    display:block;
    position: relative;
    height: 100%;
    width: 100%  !important;
}
.cse dd dt div {
    padding: 0;
}
.cse dd dt {
    border: none;
    background-color: transparent;
    background-image: url(../images/arrow-passive-right.png);
    padding: 0;
    display: inline-block;
    min-width: 100%;
}
.cse dd dt:hover {
    background-image: url(../images/arrow-active-right.png);
    border: none;
}
.cse dd dd {
    display: inline-block;
    position: absolute;
}
.cse dd dd ul {
    left: 4px;
}
.cse dd dd div {
    max-width: 300px;
    overflow: hidden;
}
